# dependencies
/~
/outputs
/results/csv
/results/latex
/results/pred
/src/__pycache__
/wandb
/data/xstorycloze.csv
/data/storycloze.csv
test.ipynb
test.log
train_ddp_process_1.log
train.log
latex.ipynb